.popup {
  position: fixed;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  visibility: visible;
  max-height: 720px;
}

@media screen and (max-width: 320px) {
  .popup {
    height: 571px;
  }
}