.element__delete {
    width: 18px;
    height: 19px;
    position: absolute;
    top: 18px;
    right: 15px;
    background-color: initial;
    background-image: url(../../../images/delete.svg);
    background-size: cover;
    cursor: pointer;
    transition: opacity 1s ease;
    border: 0;
    padding: 0;
    outline: none;
}

.element__delete:hover {
    opacity: 0.6;
}