.popup__container{
  margin: 0;
  padding: 0;
  margin-top: 195px;
  position: relative;
  max-width: 430px;
  max-height: 330px;
  background: #fff;
  border-radius: 10px;
  color: #000;
}
@media screen and (max-width: 618px) {
  .popup__container {
    width: 282px;
    margin-top: 123px;
  }
}


