.header__logo {
  margin: 0;
  padding: 0;
  max-width: 142px;
  max-height: 33px;
}

@media screen and (max-width: 890px) {
  .header__logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 480px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
  }
}
