.element__icon_active {
    min-width: 22px;
    height: 19px;
    margin: 30px 20px 30px 5px;
    cursor: pointer;
    transition: opacity 1s ease;
    background-image: url(../../../../images/likeblack.svg);
    background-color: white;
    padding: 0;
    border: 0;
    outline: none;
}

.element__icon_active:hover {
    opacity: 0.5;
}